*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

  #app{
    background: #2E3A46;
    height: 100vh;
  }
  main{
    background: #2E3A46;
  }


